.retratos {
    font-family: 'Roboto Condensed', sans-serif;
    grid-column-start: Retratos;
    grid-column-end: Retratos;
    grid-column: Retratos;
    display: column;
    overflow: hidden;
    text-align: center;
}
.retratos .primeraimagenr{
padding: 40px;
margin: 5px;
}
.retratos .segundaimagenr{
    padding: 40px;
    margin: 5px;
    }
.retratos .terceraimagenr{
    padding: 40px;
    margin: 5px;
 }
.retratos .cuartaimagenr{
    padding: 40px;
    margin: 5px;
}
.paisajes {
    font-family: 'Roboto Condensed', sans-serif;
    grid-column-start: Paisajes;
    grid-column-end: Paisajes;
    grid-column: Paisajes;
    display: column;
    overflow: hidden;
    text-align: center;
}
.paisajes .primeraimagenp{
    padding: 40px;
    margin: 5px;
}
.paisajes .segundaimagenp{
    padding: 40px;
    margin: 5px;    
}
.paisajes .terceraimagenp{
    padding: 40px;
    margin: 5px;
}
.paisajes .cuartaimagenp{
    padding: 40px;
    margin: 5px;
}

.vida-silvestre {
    font-family: 'Roboto Condensed', sans-serif;
    grid-column-start: Vida-silvestre;
    grid-column-end: Vida-silvestre;
    grid-column: Vida-silvestre;
    display: column;
    overflow: hidden;
    text-align: center;
}
.vida-silvestre .primeraimagenvs{
    padding: 40px;
    margin: 5px;
}
.vida-silvestre .segundaimagenvs{
    padding: 40px;
    margin: 5px;
    
}
.vida-silvestre .cuartaimagenvs{
    padding: 40px;
    margin: 5px;
}
.vida-silvestre .terceraimagenvs{
    padding: 40px;
    margin: 5px;
}
.paisajes h2{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
.retratos h2{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
.vida-silvestre h2{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
.titulo{
    grid-column-start: Titulo;
    grid-column-end: Titulo;
    grid-column: Titulo;
color: map-get($Paletas,textoblanco)
}
.titulo h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 70px;
}
.Img{
    grid-column-start: img;
    grid-column-end: img;
    grid-column: img;
}
