.Texto-y-ver-mas {
    display: block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: map-get($Paletas,textoblanco);
}
h1{
font-family: cursive;
font-size: 40px;
margin: 20px;
}
.Texto-y-ver-mas button{
@extend .button
}
.Texto-y-ver-mas button:hover {
    background-color: $colorhover;
    color: white;
transition-duration:2s; 
}
.Img2 {
@include orden-img;
}
.Img1 {
@include orden-img;
}
.button{
    margin: 20px;  
    border: none;
    color: map-get($Paletas,textoblanco);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: $colorboton ;
  } 
