
.Navegador {
    overflow: hidden;  
    background-color: map-get($Paletas,colordefondonav) ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    font-family: 'Roboto Condensed', sans-serif;
    }
    .logo{
        color: map-get($Paletas,textoblanco);
        display: flex;
        align-items: center;        
    }
    .logo .L-img{
        height: 100px;
        margin-right: 20px;
    }
    .logo h2{
    font-size: 45px;
    align-items: center;
}
    .Navegador .itemsmenu{
       display: flex;
       list-style: none;
       margin-right: 50px;
       margin: 50px;
    }
    .Navegador .itemsmenu li{
    display: inline-block;
    padding: 30px;
    }
    .Navegador .itemsmenu li a{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 10px;
    }
    .Navegador .itemsmenu li:hover,li.active {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
    }
    .button{
        margin: 20px;  
        border: none;
        color: map-get($Paletas,textoblanco);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: $colorboton ;
      } 