@import "variables";
@import "nav";
@import "footer";
@import "textoyvermas";
@import "galeria";
@import "contacto";
@import "sobre-mi";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 2fr .5px;
  grid-auto-flow:row;
  gap: 0px 0px;
  grid-template-areas:"Navegador Navegador Navegador" "Img1 Texto-y-ver-mas Img2" "Footer Footer Footer";
  }
.container-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:"Navegador Navegador Navegador" "Titulo Titulo Titulo" "Retratos  Paisajes  Vida-silvestre " "Retratos Paisajes  Vida-silvestre" "Retratos Paisajes  Vida-silvestre" "Retratos Paisajes  Vida-silvestre" "Footer Footer Footer";
  }
.container-contacto{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:    .5fr 2fr .5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Navegador Navegador Navegador"  "Img Contacto Contacto" "Footer Footer Footer";
}
.container-sobre-mi {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: .5fr 1fr 1fr 1fr .5fr; 
  gap: 0px 0px; 
  grid-template-areas:  "Navegador Navegador Navegador" "Img1 Img1 Texto1" "Texto2 Img2 Img2" " Img3 Img3 Texto3" "Footer Footer Footer";
}
.fondo{
background-color:map-get($Paletas,colordefondo);
}

@media(max-width: 760px){
  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr .5px;
    grid-auto-flow:row;
    gap: 0px 0px;
    grid-template-areas: "Navegador" "Img1" "Texto-y-ver-mas" "Img2" "Footer" ;
    }
  .container-galeria {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "Navegador" "Titulo" "Retratos" "Paisajes" "Vida-silvestre"  "Footer" ;
    }
  .container-contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:    .5fr 1fr 2fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Navegador"  "Img"  "Contacto" "Footer";
  }
  .container-sobre-mi {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr; 
    gap: 0px 0px; 
    grid-template-areas:  "Navegador" "Img1" "Texto1" "Texto2" "Img2" "Img3" "Texto3" "Footer" ;
  }
}















  