@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "nav";
@import "footer";
@import "inicio";
@import "galeria";
@import "contacto";
@import "sobre-mi";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.fondo{
background-color:map-get($Paletas,colordefondo);
}
*{
margin: 0;
padding: 0;
}