@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.Navegador {
  -ms-grid-column: Navegador;
      grid-column-start: Navegador;
  grid-column-end: Navegador;
  grid-column: Navegador;
  overflow: hidden;
}

.nav {
  background-color: #B70E21;
  height: 100px;
  width: 100vp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  font-family: 'Roboto Condensed', sans-serif;
}

.logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
}

.nav .itemsmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.nav .itemsmenu li {
  margin: 10px;
}

.nav .itemsmenu li a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  padding: 10px 10px;
}

.nav .itemsmenu li:hover, li.active {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
}

.button, .Footer .textoredes button, .Texto-y-ver-mas button {
  margin: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #B70E21;
}

.Footer {
  -ms-grid-column: Footer;
      grid-column-start: Footer;
  grid-column-end: Footer;
  grid-column: Footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
  margin: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}

.Footer .textoredes {
  display: block;
  text-align: center;
  color: white;
}

h2 {
  font-family: cursive;
  font-size: 25px;
  margin: 20px;
  color: white;
}

.Footer .textoredes button:hover {
  background-color: #d63031;
  color: white;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.Footer .iconos-redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin: 30px;
}

.Footer .iconos-redes-sociales .twitter {
  padding: 10px;
  margin: 10px;
}

.Footer .iconos-redes-sociales .instagram {
  padding: 10px;
  margin: 10px;
}

.Footer .iconos-redes-sociales .facebook {
  padding: 10px;
  margin: 10px;
}

.button, .Footer .textoredes button, .Texto-y-ver-mas button {
  margin: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #B70E21;
}

a {
  text-decoration: none;
  color: white;
}

.Texto-y-ver-mas {
  -ms-grid-column: Texto-y-ver-mas;
      grid-column-start: Texto-y-ver-mas;
  grid-column-end: Texto-y-ver-mas;
  grid-column: Texto-y-ver-mas;
  display: block;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

h1 {
  font-family: cursive;
  font-size: 40px;
  margin: 20px;
}

.Texto-y-ver-mas button:hover {
  background-color: #d63031;
  color: white;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.Img2 {
  -ms-grid-column: Img2;
      grid-column-start: Img2;
  grid-column-end: Img2;
  grid-column: Img2;
  margin: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Img1 {
  -ms-grid-column: Img1;
      grid-column-start: Img1;
  grid-column-end: Img1;
  grid-column: Img1;
  margin: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button, .Footer .textoredes button, .Texto-y-ver-mas button {
  margin: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #B70E21;
}

.retratos {
  font-family: 'Roboto Condensed', sans-serif;
  -ms-grid-column: Retratos;
      grid-column-start: Retratos;
  grid-column-end: Retratos;
  grid-column: Retratos;
  display: column;
  overflow: hidden;
  text-align: center;
}

.retratos .primeraimagenr {
  padding: 40px;
  margin: 5px;
}

.retratos .segundaimagenr {
  padding: 40px;
  margin: 5px;
}

.retratos .terceraimagenr {
  padding: 40px;
  margin: 5px;
}

.retratos .cuartaimagenr {
  padding: 40px;
  margin: 5px;
}

.paisajes {
  font-family: 'Roboto Condensed', sans-serif;
  -ms-grid-column: Paisajes;
      grid-column-start: Paisajes;
  grid-column-end: Paisajes;
  grid-column: Paisajes;
  display: column;
  overflow: hidden;
  text-align: center;
}

.paisajes .primeraimagenp {
  padding: 40px;
  margin: 5px;
}

.paisajes .segundaimagenp {
  padding: 40px;
  margin: 5px;
}

.paisajes .terceraimagenp {
  padding: 40px;
  margin: 5px;
}

.paisajes .cuartaimagenp {
  padding: 40px;
  margin: 5px;
}

.vida-silvestre {
  font-family: 'Roboto Condensed', sans-serif;
  -ms-grid-column: Vida-silvestre;
      grid-column-start: Vida-silvestre;
  grid-column-end: Vida-silvestre;
  grid-column: Vida-silvestre;
  display: column;
  overflow: hidden;
  text-align: center;
}

.vida-silvestre .primeraimagenvs {
  padding: 40px;
  margin: 5px;
}

.vida-silvestre .segundaimagenvs {
  padding: 40px;
  margin: 5px;
}

.vida-silvestre .cuartaimagenvs {
  padding: 40px;
  margin: 5px;
}

.vida-silvestre .terceraimagenvs {
  padding: 40px;
  margin: 5px;
}

.paisajes h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

.retratos h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

.vida-silvestre h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

.titulo {
  -ms-grid-column: Titulo;
      grid-column-start: Titulo;
  grid-column-end: Titulo;
  grid-column: Titulo;
  color: white;
}

.titulo h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 70px;
}

.Img {
  -ms-grid-column: img;
      grid-column-start: img;
  grid-column-end: img;
  grid-column: img;
}

.container-contacto {
  font-family: 'Roboto Condensed', sans-serif;
  display: column;
  overflow: hidden;
  text-align: center;
  color: white;
}

.Formulario {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  -ms-grid-column: Contacto;
      grid-column-start: Contacto;
  grid-column-end: Contacto;
  grid-column: Contacto;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
  margin: 40px;
}

.logo span {
  color: #B70E21;
}

.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0;
  }
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4, .contact-info ul, .contact-info p {
    text-align: left;
  }
}

.container-sobre-mi {
  display: column;
  overflow: hidden;
  text-align: center;
  color: white;
}

.Img1 {
  -ms-grid-column: Img1;
      grid-column-start: Img1;
  grid-column-end: Img1;
  grid-column: Img1;
}

.Texto1 {
  -ms-grid-column: Texto1;
      grid-column-start: Texto1;
  grid-column-end: Texto1;
  grid-column: Texto1;
}

.Img2 {
  -ms-grid-column: Img2;
      grid-column-start: Img2;
  grid-column-end: Img2;
  grid-column: Img2;
}

.Texto2 {
  -ms-grid-column: Texto2;
      grid-column-start: Texto2;
  grid-column-end: Texto2;
  grid-column: Texto2;
}

.Img3 {
  -ms-grid-column: Img3;
      grid-column-start: Img3;
  grid-column-end: Img3;
  grid-column: Img3;
}

.Texto3 {
  -ms-grid-column: Texto3;
      grid-column-start: Texto3;
  grid-column-end: Texto3;
  grid-column: Texto3;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .5fr 2fr .5px;
      grid-template-rows: .5fr 2fr .5px;
  gap: 0px 0px;
      grid-template-areas: "Navegador Navegador Navegador " "Img1 Texto-y-ver-mas Img2"  "Footer Footer Footer ";
}

.container-galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1f 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "Navegador Navegador Navegador " "Titulo Titulo Titulo " "Retratos  Paisajes  Vida-silvestre " "Retratos Paisajes  Vida-silvestre " "Retratos Paisajes  Vida-silvestre " "Retratos Paisajes  Vida-silvestre" "Footer Footer Footer ";
}

.container-contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .5fr 2fr .5fr;
      grid-template-rows: .5fr 2fr .5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "Navegador Navegador Navegador "  "Img Contacto Contacto " "Footer Footer Footer ";
}

.container-sobre-mi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .5fr 1fr 1fr 1fr .5fr;
      grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
  gap: 0px 0px;
      grid-template-areas: "Navegador Navegador Navegador " "Img1 Img1 Texto1 " "Texto2 Img2 Img2 " " Img3 Img3 Texto3 " "Footer Footer Footer ";
}

.fondo {
  background-color: #222222;
}

@media (max-width: 760px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .5fr 1fr 1fr 1fr .5px;
        grid-template-rows: .5fr 1fr 1fr 1fr .5px;
    grid-auto-flow: row;
    gap: 0px 0px;
        grid-template-areas: "Navegador " "Img1 " "Texto-y-ver-mas " "Img2 " "Footer ";
  }
  .container-galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1f 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "Navegador " "Titulo " "Retratos " "Paisajes " "Vida-silvestre "  "Footer ";
  }
  .container-contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .5fr 1fr 2fr .5fr;
        grid-template-rows: .5fr 1fr 2fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "Navegador "  "Img "  "Contacto " "Footer ";
  }
  .container-sobre-mi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
        grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    gap: 0px 0px;
        grid-template-areas: "Navegador " "Img1 " "Texto1 " "Texto2 " "Img2 " "Img3 " "Texto3 " "Footer ";
  }
}
/*# sourceMappingURL=style.css.map */